<h1> Students </h1>
<ul>
<% @students.each do |student| %>
  <li>Name: <%= link_to student.name, student_path(student) %> 
  <br>
   Number of Courses: <%= student.courses.count %></li>
<br>
<% end %>
</ul>