<div>
  <div style='width: 800px;margin:auto'>
    <img  style='width: 800px' src=https://3dwarehouse.sketchup.com/warehouse/v1.0/publiccontent/8285e328-e5a1-4cb9-a219-575651570634
  </div>
  <div>
  <h1 align="center">Welcome to Junior High School!</h1>
</div> 